<body>
  <p id="notice"></p>
  <h1>Books</h1>
  <table>
    <thead>
      <tr>
        <th>Title</th>
        <th>Body</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <td>title1</td>
        <td>プログラマ入門者は必読</td>
        <td>
          <a class="show:id" href="">Show</a>
        </td>
        <td>
          <a class="edit:id" href="">Edit</a>
        </td>
        <td>Destroy</td>
      </tr>
    </tbody>

  </table>

  <h2>New book</h2>

  <%= form_with model: @book do |f| %>
    <h4>本のタイトル</h4>
    <%= f.text_field :title %>

    <h4>感想</h4>
    <%= f.text_area :body %>

    <%= f.submit 'Create Book' %>
  <% end %>


</body>